header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.icons{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}
#time{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80%;
    /* background-color: aquamarine;
    height: 90vh;
    justify-content: center;
    align-items: center; */
}